<div class="menu" ng-menu>
    <div class="menu-t">
        <span>机票</span>
        <em class="glyphicon glyphicon-plus"></em>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日点击</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日消费</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日出票</a>
    </div>
    <div class="menu-t">
        <span>酒店</span>
        <em class="glyphicon glyphicon-plus"></em>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日点击</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日消费</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日出票</a>
    </div>
    <div class="menu-t">
        <span>度假</span>
        <em class="glyphicon glyphicon-plus"></em>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日点击</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日消费</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日出票</a>
    </div>
    <div class="menu-t">
        <span>报销</span>
        <em class="glyphicon glyphicon-plus"></em>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日点击</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日消费</a>
    </div>
    <div class="menu-c">
        <a href="###" title="">多日出票</a>
    </div>
</div>